body {
  font-family: $serif;
}

h1,h2,h3,h4,h5 {
  font-family: $sans-serif;
}

.col-layout {
  @include typecsset-space(margin-top);
}

.preview-tab {
  @include typecsset-space(margin-bottom);
  &:not(:first-child) {
    @include typecsset-space(padding-top);
    border-top: 1px solid $gray;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.project-container {
  padding: 0 1em;
}


.button {
  font-family: $sans-serif;
  color: white;
  border-radius: $border-radius-base;
  margin-top: 1em;
  text-align: center;
  padding: 0.5em;
  transition: color 200ms;
}

.button:visited {
  color: white;
}

.button-default {
  background: $blue;
  &:hover {
    background: darken($blue, 2%);
  }
}

.button-block {
  display: block;
}

.inline-list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: 0;

  li {
    margin-right: $margin-base;
    font-family: $sans-serif;
  }
}

.header {
  background: $gray-darker;
  a {
    color: white;
  }

  h3 {
    margin-bottom: 0;
  }

  .inline-list {
    margin-bottom: 0;
    li {
      margin: 0;
      padding: $padding-base;
      font-weight: bold;
    }
    li:first-of-type {
      background: $salmon;
    }

    li:nth-of-type(2) {
      background: $yellow;
    }
    li:last-child {
      background: $green;
    }
  }
}

.pill {
  color: white;
  background: $gray-dark;
  border-radius: $border-radius-base;
  border: 1px solid $gray-darker;
  padding: 4px;
  font-size: 0.85em;
  font-family: $sans-serif;
  font-weight: bold;
}

.date-container {
  @include typecsset-space(margin-top);
}

.date-container {
  transform: translateY(-15px);
}

.btn {
  font-family: $sans-serif;
  text-transform: uppercase;
}

pre {
  background: $gray-dark;
}
code {
  background: $gray-dark;
  color: white;
  border-radius: 2px;
}

p code {
  padding: 0 $margin-base / 2;
}

.img-container {
  @include typecsset-space(margin-bottom);
  max-width: 100%;

  img {
    max-width: 100%;
    height: auto;
  }
}

.card {
  margin-top: 0;
}

.footer {
  @include typecsset-space(margin-top);
  padding: 1em;
  border-top: 1px solid $gray-light;

  .connect {
    @include listreset;
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    justify-content: space-between;
    float: right;

    li {
      margin-right: $margin-base;
    }

    a {
      font-family: $sans-serif;
     @extend %pill-dark;
    }
  }
}

.footer-left {
  float: left;
  margin-top: 0px;
  img {
    display: inline-block;
    max-width: 50px;
    position: relative;
    top: 10px;
  }
}

.cat-logo {
  max-height: $line-height-base;
}
