<div class="container">

  <div class="col-push-2 col-8">
      <div class="img-container">
        {{#if model.mainImg}}
          <img src="{{blog-img model.mainImg}}" alt="" />
        {{/if}}
      </div>
      <div class="page-title">
        <h2>{{model.title}}</h2>
      </div>
      <p class="lead">
        {{model.description}}
      </p>
      {{unescape-content model.content}}
  </div>
</div>
